In [130]:
import pandas as pd
import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go

# Scatter Plot

In [8]:
random_x = np.random.randint(1,101,100)
random_y = np.random.randint(1,101,100)

In [20]:
data = [go.Scatter(x = random_x,y = random_y,mode = 'markers', 
                                             marker = dict(size = 12, 
                                                           color = 'rgb(21,23,45)',
                                                           line = {'width': 3})) ]

In [24]:
layout = go.Layout(title = 'random_x vs random_y',
                   xaxis = dict(title = 'random x'), 
                   yaxis = dict(title = 'ransom y'),
                   hovermode = 'closest' 
                   )

In [25]:
figure = go.Figure(data = data,layout = layout)

In [26]:
pyo.plot(figure, filename ='scatter.html')

'scatter.html'

# Line & scatter Chart

In [73]:
x_val = np.linspace(1,101,100)
y_val = np.random.randn(100)

In [74]:
scatter = go.Scatter(x = x_val,y = y_val+6, mode = 'markers', marker = dict(size = 12, 
                                                                         color = 'rgb(124,12,12)',
                                                                         line = dict(width = 3)),
                     name = 'scatter')

In [75]:
line_1 = go.Scatter(x = x_val,y = y_val, mode = 'lines', marker = dict(size = 12, 
                                                                         color = 'rgb(124,12,12)',
                                                                         line = dict(width = 3)),
                   name = 'line')

In [76]:
data = [scatter,line_1]

In [77]:
layout = go.Layout(title = 'line chart',
                   xaxis = dict(title = 'x values'),
                   yaxis = dict(title = 'y values'),
                   hovermode = 'closest')

In [78]:
fig = go.Figure(data,layout)

In [79]:
pyo.plot(fig,filename ='line.html')

'line.html'

# mutliple lines chart - common x-axis

In [112]:
x_val = np.linspace(1,50,50)
x_val2 = np.linspace(51,100,50)
x_val3 = np.linspace(101,150,50)
y_val = np.random.randn(100)

In [91]:
line_1 = go.Scatter(x = x_val, y = y_val, mode ='lines', marker =dict(size = 12,
                                                                    color = 'rgb(200,0,0)',
                                                                    line ={'width':2}
                                                                   ))

In [92]:
line_2 = go.Scatter(x = x_val, y = y_val+5, mode = 'lines', marker = dict(size = 12,
                                                                        color = 'rgb(0,200,0)',
                                                                        line = dict(width = 2)))

In [97]:
line_3 = go.Scatter(x = x_val, y = y_val+10, mode = 'lines+markers', marker = dict(size =12,
                                                                           color = 'rgb(0,0,200)',
                                                                           line = dict(width=1)))

In [98]:
data = [line_1, line_2, line_3]

In [99]:
layout = go.Layout(title = 'multiline chart',
                   xaxis = {'title': 'x value'},
                   yaxis = {'title': 'y value'},
                   hovermode = 'closest')

In [100]:
fig = go.Figure(data, layout)

In [101]:
pyo.plot(fig, filename ='multiline.html')

'multiline.html'

# multiline common y-axis

In [120]:
line_4 = go.Scatter(x = x_val, y=y_val, mode ='lines',marker =dict(size =12,
                                                                     color = 'rgb(200,0,0)',
                                                                    line = {'width':2}))

In [123]:
line_5 = go.Scatter(x = x_val2, y=y_val, mode ='lines',marker =dict(size =12,
                                                                     color = 'rgb(0,200,0)',
                                                                    line = {'width':2}))

In [124]:
line_6 = go.Scatter(x = x_val3, y=y_val, mode ='lines',marker =dict(size =12,
                                                                     color = 'rgb(0,0,200)',
                                                                    line = {'width':2}))

In [125]:
data =[line_4,line_5,line_6]

In [126]:
layout = go.Layout(title ='multiline common y axis',
                  xaxis =dict(title = 'x val'),
                  yaxis = dict(title = 'y val'),
                  hovermode = 'closest')

In [127]:
fig = go.Figure(data, layout)

In [128]:
pyo.plot(fig,filename = 'multilineyaxis.html')

'multilineyaxis.html'

# bar chart for winter olympics

In [147]:
data = pd.read_csv('dataset/2018WinterOlympics.csv')

In [148]:
data

                Rank                   NOC  Gold  Silver  Bronze  Total
0                  1          Norway (NOR)    14      14      11   39.0
1                  2         Germany (GER)    14      10       7   31.0
2                  3          Canada (CAN)    11       8      10   29.0
3                  4   United States (USA)     9       8       6   23.0
4                  5     Netherlands (NED)     8       6       6   20.0
5                  6          Sweden (SWE)     7       6       1   14.0
6                  7    South Korea (KOR)*     5       8       4   17.0
7                  8     Switzerland (SUI)     5       6       4   15.0
8                  9          France (FRA)     5       4       6   15.0
9                 10         Austria (AUT)     5       3       6   14.0
10             11–30             Remaining    20      29      41   90.0
11  Totals (30 NOCs)                   103   102     102     307    NaN

In [149]:
data = data.iloc[:10,:]

In [150]:
data

  Rank                   NOC  Gold  Silver  Bronze  Total
0    1          Norway (NOR)    14      14      11   39.0
1    2         Germany (GER)    14      10       7   31.0
2    3          Canada (CAN)    11       8      10   29.0
3    4   United States (USA)     9       8       6   23.0
4    5     Netherlands (NED)     8       6       6   20.0
5    6          Sweden (SWE)     7       6       1   14.0
6    7    South Korea (KOR)*     5       8       4   17.0
7    8     Switzerland (SUI)     5       6       4   15.0
8    9          France (FRA)     5       4       6   15.0
9   10         Austria (AUT)     5       3       6   14.0

In [151]:
bar = go.Bar(x = data['NOC'], y = data['Total'])

In [152]:
data1 = [bar]

In [153]:
layout = go.Layout(title = 'bar plot')

In [154]:
fig = go.Figure(data=data1,layout=layout)

In [155]:
pyo.plot(fig,filename = 'bar.html')

'bar.html'

# bar plot for medal type for each country

In [156]:
bargold = go.Bar(x = data['NOC'], y = data['Gold'])

In [157]:
barsilver = go.Bar(x = data['NOC'], y = data['Silver'])

In [158]:
barbronze = go.Bar(x = data['NOC'], y = data['Bronze'])

In [159]:
data2 = [bargold, barsilver, barbronze]

In [160]:
layout = go.Layout(title = 'bar plot medal wise')

In [161]:
fig = go.Figure(data=data2,layout=layout)

In [162]:
pyo.plot(fig, filename = 'barplotmedal.html')

'barplotmedal.html'

In [163]:
layout = go.Layout(title = 'stacked bar plot', barmode = 'stack')

In [164]:
fig = go.Figure(data = data2, layout = layout)

In [165]:
pyo.plot(fig,filename = 'barplotstack.html')

'barplotstack.html'